.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  padding: 20px 5px;
  background-color: rgba(58, 66, 89, 0.7);

  @media all and (-ms-high-contrast: none) { //Правило для IE
    display: block;
  }
}

.modal__content {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
  width: 720px;

  @media all and (-ms-high-contrast: none) { //Правило для IE
    margin-bottom: 20px;
  }
}

.modal__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal--opened {
  overflow: hidden;
  padding-right: 17px;

  .modal {
    opacity: 1;
    visibility: visible;
  }
}