.app__container {
  max-width: 754px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 10px;
  width: 33.33%;
}

.tickets {
  margin-bottom: 20px;
}